.u-section-1 .u-sheet-1 {
  min-height: 543px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 543px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0 1px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.4000000000000001;
  margin: 18px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 18px auto 0 1px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 400;
  text-transform: none;
  margin: 34px auto 0 1px;
  padding: 7px 51px 8px 50px;
}

.u-section-1 .u-image-1 {
  min-height: 543px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-1 .u-image-1 {
    min-height: 448px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 343px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 617px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-1 .u-image-1 {
    min-height: 388px;
  }
} .u-section-2 {
  min-height: 719px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 754px;
}

.u-section-2 .u-container-layout-1 {
  padding: 11px 30px;
}

.u-section-2 .u-video-1 {
  width: 979px;
  height: 551px;
  box-shadow: 2px 2px 27px 0 rgba(0,0,0,0.4);
  margin: 52px auto 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 400;
  text-transform: none;
  margin: 44px auto 0;
  padding: 7px 51px 8px 50px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 693px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 663px;
  }

  .u-section-2 .u-video-1 {
    width: 880px;
    height: 495px;
    margin-top: 51px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 45px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 539px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-2 .u-video-1 {
    width: 660px;
    height: 371px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 514px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 54px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-video-1 {
    width: 520px;
    height: 292px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 407px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-video-1 {
    height: 238px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 629px;
}

.u-section-3 .u-layout-wrap-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 629px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1.1;
  margin: 60px auto 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.6;
  font-size: 1.5rem;
  margin: 24px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  background-image: none;
  border-style: solid;
  font-weight: 400;
  text-transform: none;
  margin: 39px auto 0 0;
  padding: 7px 51px 8px 50px;
}

.u-section-3 .u-icon-1 {
  vertical-align: 0px;
  font-size: 0.95em;
  padding: 2px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 629px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-custom-html-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 40px 0 0 30px;
}

.u-section-3 .u-custom-html-2 {
  height: auto;
  min-height: 403px;
  margin-top: 10px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 557px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-2 {
    width: 453px;
    margin-right: 0;
    margin-left: -30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 635px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-3 .u-custom-html-2 {
    width: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 23px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-3 .u-custom-html-2 {
    width: 558px;
    margin-right: 10px;
    margin-left: -27px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 688px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 59px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-2 {
    width: 359px;
    margin-right: -5px;
    margin-left: -14px;
  }
}.kmodal {
max-width:90%;
max-height:90%;
overflow-y: hidden;
overflow-x:hidden;
}
.mailjetform {
max-width:110%;
}
.grecaptcha-badge {
    display: none!important;
}